<div class="section-title">Education</div>

<div class="experience-card">
    <div class="experience-item">
        <div class="experience-company">
            <img src="../images/logo/logo_ut.png" alt="University of Tokyo Logo" class="company-logo" loading="lazy"/>
            <div class="experience-content">
                <div>
                    <span class="company-name">Ph.D. in Computer Vision at <a href="https://ut-vision.org/sato-lab/">Y. Sato Lab</a></span>
                    <span class="team-name">The University of Tokyo</span>
                </div>
            </div>
        </div>
        <span class="experience-date">2026.3</span>
    </div>
    <div class="experience-item">
        <div class="experience-company">
            <img src="../images/logo/logo_ut.png" alt="University of Tokyo Logo" class="company-logo" loading="lazy"/>
            <div class="experience-content">
                <div>
                    <span class="company-name">M.Sc. in Computer Vision at <a href="https://ut-vision.org/sato-lab/">Y. Sato Lab</a></span>
                    <span class="team-name">The University of Tokyo</span>
                </div>
            </div>
        </div>
        <span class="experience-date">2023.3</span>
    </div>
    <div class="experience-item">
        <div class="experience-company">
            <img src="../images/logo/logo_nju.png" alt="Nanjing University Logo" class="company-logo" loading="lazy"/>
            <div class="experience-content">
                <div>
                    <span class="company-name">B.Sc. in Computer Science</span>
                    <span class="team-name">Nanjing University</span>
                </div>
            </div>
        </div>
        <span class="experience-date">2020.7</span>
    </div>
</div>
