<p class="intro-text">
    I'm a Computer Vision Research Scientist at <a href="https://woven.toyota/en/">Woven by Toyota</a> and a Cooperative Research Fellow at the University of Tokyo (<a href="https://ut-vision.org/sato-lab/">Sato Lab</a>). I focus on computer vision and human activity understanding, specifically involving <a href="/tags/#a-video-and-multi-view-understanding">video and multi-view understanding</a>, <a href="/tags/#b-vision-language-multimodal-models">vision-language multimodal models</a>, and <a href="/tags/#c-human-body-perception">human body perception</a>.
</p>
